body {
    display: grid;
    grid-template-areas: "N N N"
        "PD ID ID"
        "PS PS PS"
        "G1  G1  G1"
        "TD  TD TD"
        "MP  MP  MP";
}

header {
    grid-area: N;

}

.f {
    place-items: center;
    display: grid;
    transition: transform 0.3s ease;
}
.f:hover{
    
    transform: scale(1.1);
}
.colocacion:hover{
    border-radius: 10%;
    background-color: rgb(157, 178, 255);
}

.colocacion {
    height: 70px;
    width: 70px;

}

.container1 {
    text-align: center;
}

.margen {
    margin-top: 0;
    margin-bottom: 0rem;
}

.navcont {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#pronostico_diario {
    grid-area: PD;
    width: 100%;


}

#indicadores_diarios {
    grid-area: ID;
    width: 100%;

}

#pronostico_semanal {
    grid-area: PS;
}

#garficos_clima {
    grid-area: G1;

}

#tabla_datos {
    grid-area: TD;
}


#mapa_zona {
    grid-area: MP;
}

@media only screen and (max-width: 767px) {

    /* Estilos para dispositivos móviles */
    body {
        display: grid;
        grid-template-areas: "N"
            "PD"
            "ID"
            "PS"
            "G"
            "TD"

            "MP";
    }

    #weekly_report {
        grid-template-areas: "A"
            "B"
            "C"
            "D"
            "E";
    }
}

.card_container {
    display: grid;

    justify-items: center;
}

#weekly_report {
    display: grid;
    gap: 1%;
    grid-template-areas: "A A B B C C D D E E";
}

#dia-1 {
    grid-area: A;

}

#dia-2 {
    grid-area: B;

}

#dia-3 {
    grid-area: C;
}

#dia-4 {
    grid-area: D;
}

#dia-5 {
    grid-area: E;
}

table.default tr:not(:nth-child(1)):not(:nth-child(2)) {
    display: none;
}